<%- include('./partials/head', {title: title}) %>
  <body>
    <h2><%= title %></h2>
    <hr>
    <strong><%= message.user.fullname %></strong>
    <p><%= message.message %></p>
    <h5><%= message.date %></h5>
    <hr>
    <p>Are you sure you want to delete this message?</p>
    <form method="POST" action>
        <button>Delete</button>
    </form>
    <hr>
    <a href="/">Return to homepage</a>
  </body>
</html>